@import "variable";

.container-page-typeproduct {
  display: flex;
  width: 100%;
  justify-content: center;

  @media (max-width: $breakpoint-md) {
    padding: 10px;
  }

  .page {
    width: 100%;
    max-width: 1200px;
    .title {
      font-size: xx-large;
      font-weight: bold;
    }
  }

  .typeproduct-image {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;

    .item {
      flex: 0 1 calc(25% - 0.7rem);
    }
    @media (max-width: $breakpoint-lg) {
      flex-wrap: wrap;
      .item {
        flex: 0 1 calc(33.33% - 0.7rem);
      }
    }
    @media (max-width: $breakpoint-md) {
      .item {
        flex: 0 1 calc(50% - 0.7rem);
      }
    }
  }
}
