@import "mixins";
@import "variable";
@import "featured";

.filter-icon-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

.background-div {
  width: 100%;
  background-image: url("../../../public/BGRIMAGE.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
// page user default
.menu-sm {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  @media (min-width: 640px) {
    display: none;
  }
}
.input-search {
  width: 400px;
}

//
// view menu
.show-menu {
  width: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  max-height: 192px;
  @media (min-width: 1024px) {
    min-height: 312px;
  }
  .item-image {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 2rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e5e7eb;
    }
    .ic-img-menu {
      max-width: 1.5rem;
      max-height: 1.2rem;
    }
    // style={{ marginLeft: "5px", whiteSpace: "nowrap" }}
    .sp-menu{
      margin-left:.5rem ;
      white-space: nowrap;
    }
  }
}
//
.w-full {
  a {
    color: inherit;
    p:hover {
      text-decoration: underline;
    }
  }
  .px-6 {
    padding: 0 24px;
    @include border-radius(6px);
  }

  .tFeature {
    font-size: x-large;
    font-weight: 600;
  }

  .lg\:px-0 {
    padding: 0;
  }

  .flex {
    display: flex;

    .justify-between {
      justify-content: space-between;
    }
  }

  .mb-4 {
    margin-bottom: 1rem;
  }

  .grid {
    display: grid;

    .grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      @media (min-width: 768px) {
        .md\:grid-cols-4 {
          grid-template-columns: repeat(4, minmax(0, 1fr));
        }
      }
    }

    .gap-6 {
      gap: 1.5rem;
    }
  }

  .product-item {
    img.product-image {
      height: auto;
      max-height: 145px;
      width: 100%;
      max-width: 288px;

      @media (min-width: 1024px) {
        max-width: 310px;
      }

      border-radius: 6px;
    }

    .flex {
      .font-semibold {
        font-weight: 600;
      }

      .px-2 {
        padding-right: 0.5rem;
      }

      .line-through {
        text-decoration: line-through;
        opacity: 0.5;
      }

      .text-white {
        color: white;

        .bg-red-500 {
          background-color: #e3342f;
          border-radius: 10%;
        }
      }
    }

    .discount-badge {
      font-weight: 600;
      background-color: $primary-color;
      border-radius: 10%;
    }
  }

  .justify-center {
    justify-content: center;
  }

  .load-more {
    text-align: center;
    color: #3490dc;
  }

  .btn-discover {
    background-color: #2579f2;
    line-height: 1.5rem;
    border-radius: 5px;
    width: 94px;
    text-align: center;
    color: #eeeded;
    height: 27px;
    font-size: 0.9rem;

    &:hover {
      width: 95px;
      font-size: 1rem;
      color: #fff;
    }
  }

  .i-trending {
    display: flex;
    padding: 0.1rem 0;
    border-radius: 9999px;
    border-color: #f1efef;
    border-width: 1px;
    margin-bottom: 2rem;

    .icRise {
      margin-left: 1rem;
      font-size: 1.6rem;
      color: red;
    }

    .t-trend {
      width: 110px;
      line-height: 2.5rem;
      margin-right: 1rem;
      font-size: large;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
    }
  }

  .layout-trending {
    padding-top: 11rem;
    padding-bottom: 3rem;
    color: #fff;
  }
  .l-more {
    display: flex;
    justify-content: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
    font-size: medium;
  }
  .btn-more {
    &:hover {
      color: #3490dc;
    }
  }
}
